.contact_input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #dddde6;
}


.contact {
    border: 2px solid black;
    width: 50%;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    margin-top: 60px;
}

